Repository Ivan-1998/yantar_front: changes, and which GitLab CI jobs are due for each by the changed paths.
All: admin-app build, admin-app deploy

.gitlab-ci.yml:

stages:
 - build
 - deploy

admin-app build:
  image: node:latest
  stage: build
  script:
    - cd admin-app
    - npm install
    - npm run build
  only:
    changes:
      - client-app/**/*
    refs:
      - master

admin-app deploy:
  image: alpine:latest
  stage: deploy
  script:
    - apk add --no-cache rsync openssh
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" >> ~/.ssh/id_dsa
    - chmod 600 ~/.ssh/id_dsa
    - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
    - ssh gitlab@yantar.in "chmod +x /root/gitlab-deploy/front-admin_app.sh && 
                          sudo /root/gitlab-deploy/front-admin_app.sh"

  only:
    changes:
      - admin-app/**/*
    refs:
      - master

dsad
  .gitlab-ci.yml
  admin-app/src/App.vue
Due: admin-app deploy

dsa
  .gitlab-ci.yml
  admin-app/src/App.vue
Due: admin-app deploy

# да сохранит нас господь
  .gitlab-ci.yml
  admin-app/src/App.vue
Due: admin-app deploy

# products
  .DS_Store
  admin-app/src/Components/ActionsMenu.vue
  admin-app/src/Components/Sidebar.vue
  admin-app/src/Components/TopMenu.vue
  admin-app/src/Pages/Products/Components/ProductsForm.vue
  admin-app/src/Pages/Products/ProductsAdd.vue
  admin-app/src/Pages/Products/ProductsEdit.vue
  admin-app/src/Pages/Products/ProductsList.vue
  admin-app/src/assets/images/menu-dots.svg
  admin-app/src/assets/styles/components/_sidebar.scss
  admin-app/src/assets/styles/includes/common.scss
  admin-app/src/assets/styles/index.scss
  admin-app/src/assets/styles/ui/_table.scss
  admin-app/src/assets/styles/ui/buttons.scss
  admin-app/src/main.js
  admin-app/src/mixins/MixinCommonMethods.js
  admin-app/src/mixins/MixinDate.js
  admin-app/src/router.js
Due: admin-app deploy

#add news
  admin-app/src/Components/Sidebar.vue
  admin-app/src/Pages/News/Components/NewsForm.vue
  admin-app/src/Pages/News/NewsAdd.vue
  admin-app/src/Pages/News/NewsEdit.vue
  admin-app/src/Pages/News/NewsList.vue
  admin-app/src/Pages/Products/Components/ProductsForm.vue
  admin-app/src/Pages/Products/ProductsAdd.vue
  admin-app/src/Pages/Products/ProductsList.vue
  admin-app/src/assets/styles/includes/common.scss
  admin-app/src/assets/styles/ui/_table.scss
  admin-app/src/assets/styles/ui/forms.scss
  admin-app/src/router.js
Due: admin-app deploy

- добавил раздел с рецептами
  admin-app/src/Components/Sidebar.vue
  admin-app/src/Pages/News/NewsEdit.vue
  admin-app/src/Pages/Recipes/Components/RecipesForm.vue
  admin-app/src/Pages/Recipes/RecipesAdd.vue
  admin-app/src/Pages/Recipes/RecipesEdit.vue
  admin-app/src/Pages/Recipes/RecipesList.vue
  admin-app/src/router.js
Due: admin-app deploy

Profile - добавлена страница с профилем
  .DS_Store
  admin-app/src/Components/Sidebar.vue
  admin-app/src/Components/TopMenu.vue
  admin-app/src/Pages/Feedbacks/FeedbackList.vue
  admin-app/src/Pages/News/Components/NewsForm.vue
  admin-app/src/Pages/News/NewsAdd.vue
  admin-app/src/Pages/News/NewsEdit.vue
  admin-app/src/Pages/News/NewsList.vue
  admin-app/src/Pages/Products/Components/ProductsForm.vue
  admin-app/src/Pages/Products/ProductsAdd.vue
  admin-app/src/Pages/Products/ProductsEdit.vue
  admin-app/src/Pages/Products/ProductsList.vue
  admin-app/src/Pages/Profile/Components/ProfileForm.vue
  admin-app/src/Pages/Profile/Profile.vue
  admin-app/src/Pages/Recipes/Components/RecipesForm.vue
  admin-app/src/Pages/Recipes/RecipesAdd.vue
  admin-app/src/Pages/Recipes/RecipesEdit.vue
  admin-app/src/Pages/Recipes/RecipesList.vue
  admin-app/src/assets/styles/ui/forms.scss
  admin-app/src/main.js
  admin-app/src/mixins/MixinCommonMethods.js
  admin-app/src/router.js
  admin-app/src/store.js
Due: admin-app deploy

Change API Resource - изменил интеграцию с бекендом
  .DS_Store
  .gitlab-ci.yml
  client-app/css/fonts.min.css
  client-app/css/fonts.min.css.map
  client-app/css/index.min.css
  client-app/css/index.min.css.map
  client-app/css/variables.min.css
  client-app/css/variables.min.css.map
  client-app/package-lock.json
  client-app/package.json
  client-app/src/Components/Feedback/Feedback.vue
  client-app/src/Mixins/MixinDate.js
  client-app/src/Pages/About/About.vue
  client-app/src/Pages/News/Components/NewsNew.vue
  client-app/src/Pages/News/New.vue
  client-app/src/Pages/News/News.vue
  client-app/src/Pages/Products/Components/ProductsFilter.vue
  client-app/src/Pages/Products/Components/ProductsProductCart.vue
  client-app/src/Pages/Products/Components/ProductsProductCartModal.vue
  client-app/src/Pages/Products/Products.vue
  client-app/src/Pages/Recipes/Components/RecipesRecipe.vue
  client-app/src/Pages/Recipes/Recipe.vue
  client-app/src/Pages/Recipes/Recipes.vue
  client-app/src/assets/images/maslo-about.jpeg
  client-app/src/assets/images/maslo-about.png
  client-app/src/assets/styles/includes/common.scss
  client-app/src/assets/styles/ui/inputs.scss
  client-app/src/main.js
Due: admin-app build

Sidebar improvements - сайдбар теперь закреплен
  admin-app/src/assets/styles/components/_sidebar.scss
Due: admin-app deploy

Reviews - добавлены отзывы
  admin-app/src/Components/Sidebar.vue
  admin-app/src/Pages/Recipes/RecipesEdit.vue
  admin-app/src/Pages/Recipes/RecipesList.vue
  admin-app/src/Pages/Reviews/Components/ReviewsForm.vue
  admin-app/src/Pages/Reviews/ReviewsAdd.vue
  admin-app/src/Pages/Reviews/ReviewsEdit.vue
  admin-app/src/Pages/Reviews/ReviewsList.vue
  admin-app/src/assets/styles/includes/common.scss
  admin-app/src/assets/styles/ui/forms.scss
  admin-app/src/router.js
Due: admin-app deploy

Reviews for client - добавлены отзывы на клиентскую часть сайта
  admin-app/src/Pages/Reviews/ReviewsEdit.vue
  client-app/src/Pages/About/About.vue
  client-app/src/Pages/About/Components/AboutReviews.vue
  client-app/src/Pages/Main/Components/MainSlider.vue
  client-app/src/assets/styles/index.scss
  client-app/src/assets/styles/pages/about.scss
Due: admin-app build, admin-app deploy

Minor change - изменена картинка на странице "О нас"
  .DS_Store
  client-app/src/Pages/About/About.vue
  client-app/src/assets/images/about-sort-products.jpeg
  client-app/src/assets/images/woman-about.png
Due: admin-app build

test
  .DS_Store
  .gitlab-ci.yml
  admin-app/src/App.vue
Due: admin-app deploy

test
  admin-app/src/App.vue
Due: admin-app deploy
